* {
    font-family: sans-serif;
}
input,
button {
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
}

.App {
    background-color: rgba(0, 0, 0, 0.363);
    padding: 10px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
input {
    display: block;
    margin: 15px auto;
}
button {
    border: 1px solid gray;
    background: whitesmoke;
    margin-right: 5px;
    width: 30%;
    cursor: pointer;
    margin-bottom: 10px;
}

button:hover {
    background: rgba(245, 245, 245, 0.075);
}

button:active {
    margin: 5px 5px 5px 0px;
}
button:nth-last-child(2),
button:nth-last-child(1) {
    background: tomato;
    color: white;
    cursor: pointer;
}

button:nth-last-child(2):hover,
button:nth-last-child(1):hover {
    background: rgb(248, 56, 22);
    color: white;
}